<%- model_class = Guest -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% GuestType.all.each do |type| %>
    <h2><%= type.description %> Guests (<%= type.guests.count %>)</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-xs-4"><%= model_class.human_attribute_name(:name) %></th>
        <th class="col-xs-2"><%= model_class.human_attribute_name(:invited) %></th>
        <th class="col-xs-2"><%= model_class.human_attribute_name(:accepted) %></th>
        <th class="col-xs-4"><%= t '.actions', :default => t("helpers.actions") %></th>
      </tr>
      </thead>
      <tbody>
      <% type.guests.all.each do |guest| %>
          <%= render partial: 'table_row', locals: {guest: guest} %>
      <% end %>
      </tbody>
    </table>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_guest_path,
            :class => 'btn btn-primary' %>
