<%- model_class = Payment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-2"><%= model_class.human_attribute_name(:id) %></th>
      <th class="col-xs-2"><%= model_class.human_attribute_name(:item) %></th>
      <th class="col-xs-2"><%= model_class.human_attribute_name(:person) %></th>
      <th class="col-xs-2"><%= model_class.human_attribute_name(:amount) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <%= render partial: 'table_row', locals: {payment: payment } %>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_payment_path(@item),
            :class => 'btn btn-primary' %>
