<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @payment.item %>
</p>

<p>
  <strong>Person:</strong>
  <%= @payment.person %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency @payment.amount, unit: '£' %>
</p>

<%= link_to 'Edit', edit_item_payment_path(@item, @payment) %> |
<%= link_to 'Back', item_payments_path(@item) %>
