<tr id="<%= dom_id(item) %>">
  <td colspan="6">
    <%= form_for item, remote: true do |f| %>
        <div class="row">
          <div class="col-xs-2">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="col-xs-2">
            <%= f.text_field :price, class: 'form-control' %>
          </div>
          <div class="col-xs-2">
            <%= item.balance %>
          </div>
          <div class="col-xs-1">
            <%= f.check_box :booked %>
          </div>
          <div class="col-xs-2">
            <%= f.text_area :notes, class: 'form-control' %>
          </div>
          <div class="col-xs-3">
            <%= f.submit class: 'btn btn-default btn-xs' %>
            <%= link_to 'Cancel', item, remote: true, class: 'btn btn-danger btn-xs' %>
          </div>
        </div>
    <% end %>
  </td>
</tr>